body {font-family: Arial, Helvetica, sans-serif;}

nav {
    width: 100%;
  }
  #header {
    background-color: #f1f1f1;
    padding: 20px 10px;
    color: black;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 100%;
    transition: 0.2s;
  }
  #header a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  #header a:hover {
    text-align: center;
    padding: 28px 32px;
    text-decoration: none;
    font-size: 50px;
  }
  #content-div {
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 15px 15px 2500px;
    font-size: 20px;
    line-height: 1.7em;
  }
  #tagline {
    font-size: 14px;
  }
  a:link , a:visited {
      color: black;
  }

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.modal-header .closeModal {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.modal-header .closeModal:hover,
.modal-header .closeModal:focus {
  color: rgb(255, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
.btn {
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }
  .info {
    border-color: #2196F3;
    color: dodgerblue
  }
  
  .info:hover {
    background: #2196F3;
    color: white;
  }
  .danger {
    border-color: #f44336;
    color: red
  }
  
  .danger:hover {
    background: #f44336;
    color: white;
  }
    

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}
